
h1, h2, h3 {font-weight: 300 !important}

/*  M E N U  */

.seguiFace {background: url(../images/facebook.png) no-repeat top right; display: inline-block; color: #1E120D; font-size: 26px; font-weight: 300; height: 36px; width: 100%; text-align: right; padding-right: 44px; margin-bottom: 2em;}

.vidriera {height: 200px; background: red}
.oferta {height: 200px; background: red}

/* estilos de Bootstrap modificados */
.navbar {margin:0;}
.navbar-toggle {margin-top: 25px}
.navbar-brand {padding: 2px 0; margin-top: 1em;}
.dropdown-menu {background: #878979}

.open {background: #878979}

.thumbnail {padding: 0; border: 0; min-height: 400px; text-align: center}



/* -- M E D I A  Q U E R Y -- */
@media screen and (max-width: 1000px) {
	#menuPrincipal a {padding: 0 20px !important }

}


@media screen and (max-width: 768px) {

	.divMenu {float: left; width: 100%}
	#menuPrincipal {height: auto !important;} 
	#menuPrincipal a {height: 40px; line-height: 40px; font-size: 20px;}
	.navbar-collapse {border: 0 !important;}
}