
h1, h2, h3 {font-weight: 300 !important}

/* SLIDE */
.slide {background: #878979; height: 340px; margin-bottom: 2em}

/* Estilos de Bootstrap modificados */
.navbar {margin:0;}
.navbar-toggle {margin-top: 25px}
.navbar-brand {padding: 2px 0; margin-top: 1em;}
.dropdown-menu {background: #878979}

.open {background: #878979}

.thumbnail {padding: 0; border: 0; min-height: 400px; text-align: center}

.modal-header, .modal-footer {border: 0}

/* -- M E D I A  Q U E R Y -- */
@media screen and (max-width: 1000px) {
	#menuPrincipal a {padding: 0 20px !important }

}


@media screen and (max-width: 768px) {

	.divMenu {float: left; width: 100%}
	#menuPrincipal {height: auto !important;} 
	#menuPrincipal a {height: 40px; line-height: 40px; font-size: 20px;}
	.navbar-collapse {border: 0 !important;}
}