
h1, h2, h3 {font-weight: 300 !important}



/* SLIDE */
.slide {background: #878979; height: 340px; margin-bottom: 2em}

.presentacion {text-align: center; color: #70162F; font-size: 1.250em; line-height: 1.5em; width: 60%; margin: 0 auto 2em}

/* Estilos Fichas de Productos*/

.bandaProd {background: #878979; padding: 0.5em 1em; color: #fff; }
.bandaProd.ofertas {background: #70162F}
.bandaProd.nuevos {background: #FF7503}
.bandaProd span {margin-right: 1em; font-size: 0.938em; text-transform: uppercase; margin-top: 0.6em;}
.lazy {margin: 0}

/* Estilos de Bootstrap modificados */
.navbar {margin:0;}
.navbar-toggle {margin-top: 1.560em}
.navbar-brand {padding: 0.125em 0; margin-top: 1em;}
.dropdown-menu {background: #878979}

.open {background: #878979}

.thumbnail {padding: 0; border: 1px solid #ccc; border-radius: 0;}

.modal-header, .modal-footer {border: 0}

/* -- M E D I A  Q U E R Y -- */
@media screen and (max-width: 1000px) {
	#menuPrincipal a {padding: 0 1.250em !important }

}


@media screen and (max-width: 768px) {

	.divMenu {float: left; width: 100%}
	#menuPrincipal {height: auto !important;} 
	#menuPrincipal a {height: 40px; line-height: 40px; font-size: 1.250em;}
	.navbar-collapse {border: 0 !important;}
}